<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Utilities</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
    <display-name>GpsExport</display-name>
    <servlet-name>GpsExport</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.util.services.GpsExportService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GpsExport</servlet-name>
    <url-pattern>/GpsExport</url-pattern>
  </servlet-mapping>
   <servlet>
    <display-name>EmailSender</display-name>
    <servlet-name>EmailSender</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.util.services.EmailSender</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSender</servlet-name>
    <url-pattern>/EmailSender</url-pattern>
  </servlet-mapping>
</web-app>